* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}






body{
    background: #f6f9ff;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    margin-top: 20px;
}



.logo{
    width: 50%;
}

.menu{
    padding-top: 30px;
    width: 50%;
    text-align: right;
    margin-top: 35px;
}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: 15px;
    margin-right: 20px;
}

.menu a{
    padding: 10px;
    transition: color 100ms;
    border-radius: 15px;
}

.menu a:hover{
    background: crimson;
    color: white;
}

.produto img{
    width: 244.67px;
    height: 244.67px;
    
}

#oia{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#divBusca{
    background-color:#00ccff3f;
    border:solid 0,5px;
    width:300px;
    border-radius: 25px;
    margin-bottom: 50px;
}


#btnBusca{
    width: 30px;
    padding: 5px;
    cursor: pointer;
}

#txtBusca{
    float: left;
    background-color:transparent;
    padding-left: 7px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
    border-radius: 25px;
}



#container {
    
    margin: 0 auto;
}

#container > header {
    text-align: center;
    padding-top: 1rem;
}

main {
    
    font-size: 20px;
    padding: 1rem;
}

.fly{
    text-align: center;
    color: black;
}

/* MAIN */
main > header {
    color: #d84c72;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    font-weight: 800;
}   

.produto { 
    margin-bottom: 20px; 
    cursor: pointer; 
    box-shadow: 17px 17px 17px -27px #000000;
}

.produto img{
    border-radius: 10px;
    transition: 1s;
}

.produto img:hover{ 
 transform: scale3d(1.08, 1.08, 1.08);
}

.produto p {
    background-color: #d84c7100;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
}


#produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}