*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

header{
    height: 200px;
    padding: 20px 0;
}

.logo{
    width: 50%;
}

.menu{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: 15px;
    margin-right: 20px;
}

section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom: -190px;
    right: -190px;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: rgb(3, 15, 117);
}

.texto-sobre{
    margin-top: 90px;
}

.texto-sobre h1{
    font-size: 30px;
    margin-left: 50px;
}

.texto-sobre p{
    margin: 20px 0;
    color: black;
    font-size: 14px;
    font-weight: bold;
    max-width: 500px;
    margin-left: 50px;
}

.texto-sobre button{
    border: 0;
    background-color: crimson;
    border-radius: 10px;
    color: white;
    width: 200px;
    height: 35px;
    margin-left: 50px;
    cursor: pointer;
}

.thumb{
    position: absolute;
    left: 45%;
    bottom: 20%;
    transform: translateX(-50%);
    display: flex;
}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}

.menu a{
    padding: 10px;
    transition: color 100ms;
    border-radius: 15px;
}

.menu a:hover{
    background: crimson;
    color: white;

}

#sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 68, 125);
}

#sobre h3{
    font-size: 17px;
    color: black;
    padding: 65px;
    font-weight: bold;
    max-width: 990px;
    text-align: center;
}

#ui {
    color: rgb(0, 0, 0);
    margin-top: 25px;
    margin-bottom: -15px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .card {
    width: 352px;
    height: 136px;
    background-color: rgb(45, 77, 154);
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
  }
  .card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .card:hover{
      background-color: rgb(179, 217, 248);
  }

  #cards2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

