*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

header{
    height: 200px;
    padding: 20px 0;
}

.logo{
    width: 50%;
}

.menu{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: 15px;
    margin-right: 20px;
}

section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom: -190px;
    right: -190px;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: rgb(3, 15, 117);
}

.texto-sobre{
    margin-top: 90px;
}

.texto-sobre h1{
    font-size: 30px;
    margin-left: 50px;
}

.texto-sobre p{
    margin: 20px 0;
    color: black;
    font-size: 14px;
    font-weight: bold;
    max-width: 500px;
    margin-left: 50px;
}

.texto-sobre button{
    border: 0;
    background-color: crimson;
    border-radius: 10px;
    color: white;
    width: 200px;
    height: 35px;
    margin-left: 50px;
    cursor: pointer;
}

.thumb{
    position: absolute;
    left: 45%;
    bottom: 20%;
    transform: translateX(-50%);
    display: flex;
}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}

.menu a{
    padding: 10px;
    transition: color 100ms;
    border-radius: 15px;
}

.menu a:hover{
    background: crimson;
    color: white;
}
/* banner */

.w3-content{position: relative; margin-top: 40px;}
.w3-btn,.w3-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none} 
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-button:hover{color:#000!important;background-color:#ccc!important}

.w3-content button {
position: absolute;
top: 32%;
}

.w3-display-right {right:0}
.w3-display-left {left:0}

/* texto pequeno */

.col{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.destaques{
    text-align: center;
}

.destaque h1{
    margin-bottom: 5px;
    text-align: center;
}

#bot{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#bot button{
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: crimson;
    color: white;
    font-weight: bold;
    cursor: pointer;
}



#empresa{
    margin-top: 70px;
}

#oi{
    margin-top: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}

#ei{
    margin-top: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}

#ola{
    margin-top: 10px;
    text-align: center;
}

.Texto{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(124, 224, 255);
}

.Texto img{
    margin-left: 60px;
}

.contudo h2{
    font-size: 14pt;
    margin-left: 50px;
    margin-right: 70px;
    text-align: center;
    color: rgb(0, 0, 0);
}

#Texto{
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(124, 224, 255);
}

#Texto img{
    margin-right: 60px;
}

#contudo h2{
    font-size: 14pt;
    margin-left: 50px;
    margin-right: 70px;
    text-align: center;
    color: rgb(0, 0, 0);
}

#Texto2{
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(124, 224, 255);
}

#Texto2 img{
    margin-left: 60px;
}

#contudo2 h2{
    font-size: 14pt;
    margin-left: 50px;
    margin-right: 70px;
    text-align: center;
    color: rgb(0, 0, 0);
}