*{
    margin: 0;
    padding: 0;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    font-weight: 300;
}

#wrapper topo{
    width: 100px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

#menu ul{
display: flex;
align-items: center;
}

#menu ul li{
    list-style: none;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(206, 48, 42);
    font-size: 16pt;
}

#menu ul li a{
    text-decoration: none;
    color:red;
    transition: color 2s;
}

#menu ul li a:hover{
    color: rgb(123, 4, 202);
}

#wapper img{
    width: 500px;
    height: 0%;
}